.burger_menu {
    position: relative;
    border: none;
    width: 25px;
    height: 3px;
    margin: 23px 10px;
    color: transparent;
    background-color: white;
    transition: .3s;
    display: none;
    cursor: pointer;
}
.burger_menu:active {
    background-color: transparent;
}
.burger_menu::before, .burger_menu::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    

}
.burger_menu::before {
    top: -8px;
}
.burger_menu::after {
    bottom: -8px;
}
@media (max-width: 767px) {
    .burger_menu {
        display: inline;
    }
}